.additional-list__item {

  border-top: 1px solid @special-grey;

  &:nth-last-child(1) {
    border-bottom: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    border-right: 1px solid @special-grey;
    border-left: 1px solid @special-grey;
  }

  @media (min-width: @desktop-width) {
    border-right: none;
    border-left: none;
  }
}
