.button {
  background-color: @basic_green;
  font-family: @special-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @basic-white;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: rgba(255, 255, 255, 0.3);
  }
}
