.copyright__button-academy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -5px;
  padding-top: 19px;
  padding-bottom: 20px;

  font-size: 16px;
  line-height: auto;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    padding-top: 15px;
  }

  &:hover .copyright__icon {
    path {
      fill: @basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }
}

.copyright__icon {
  path {
    fill: @grey;
  }
}
