.features {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 38px;

  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: @special-font;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features__item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 80px;

  list-style: none;

  &:nth-last-child(1) {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-size: 50px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  @media (min-width: @tablet-width) {
    width: 320px;
    margin-bottom: 77px;
    padding-top: 112px;
    padding-bottom: 57px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;

    &::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      z-index: -1;
      top: -40px;
      left: 115px;
      width: 133px;
      height: 280px;
      font-size: 280px;
      line-height: 280px;
      font-family: @special-font;
      color: @basic-grey;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    //padding: 0;
    //padding-top: 112px;
    //padding-bottom: 57px;
    width: 245px;
    margin-bottom: 0;
  }
}

.features__text {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}
