.form {
  outline: solid 3px greenyellow;
  font-family: @special-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey;
}

input[placeholder] {
  font-family: @special-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.option-list__item {
  list-style: none;

  color: @special_dark-grey-2;
}

.form__button {
  border: none;
  outline: none;
}

textarea[name="comment"] {
  font-family: @special-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey;
}
