.location {
  padding: 0 20px;

  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    margin-right: -30px;
    margin-left: -30px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-right: -110px;
    margin-left: -110px;
  }
}

.location__text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 29px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 63px 50px 57px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 98px;
    left: 110px;
    width: 416px;
    padding: 63px 75px 55px 76px;

    background-color: @basic-white;
  }
}

.location__subtitle {
  flex-basis: 50%;
  margin: 0;
  margin-top: -4px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: @special-font;
  text-transform: uppercase;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    flex-basis: 25%;

    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 40%;

    line-height: 24px;
  }
}

.location__adress {
  flex-basis: 50%;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    flex-basis: 25%;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 40%;

    text-align: left;
  }
}

.location__map {
  position: relative;
  height: 362px;
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
  background-color: @basic-grey;

  &::before {
    content: "";
    position: absolute;
    top: 53%;
    left: 35%;
    width: 57px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: @tablet-width) {
      width: 113px;
      height: 106px;
    }

    @media (min-width: @desktop-width) {
      top: 50%;
      left: 68%;
    }
  }

  @media (min-width: @tablet-width) {
    height: 405px;
  }

  @media (min-width: @desktop-width) {
    z-index: -1;
    height: 406px;
  }
}

.location__map-img {
  width: 100%;
}

.location--white {
  z-index: 100;
  background-color: @basic-white;
}
