.option-list__item {
  margin-bottom: 26px;

  color: @special-dark-grey-2;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.option-list__radio {
  position: relative;
  padding-left: 45px;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid @special-grey;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: -5px;
      width: 38px;
      height: 38px;
    }
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width: 28px;
      height: 28px;

      border: 1px solid @grey-2;
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        top: -5px;
        width: 38px;
        height: 38px;
      }
    }
  }

  &:active {
    color: fade(@special-dark-grey-2, 30%);

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width: 28px;
      height: 28px;

      border: 1px solid fade(@grey-2, 30%);
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        top: -5px;
        width: 38px;
        height: 38px;
      }
    }
  }
}

.option-list__input-radio:checked + .option-list__radio::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 13.5px;
  height: 13.5px;

  background: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.option-list__input-radio:checked:active + .option-list__radio::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 13.5px;
  height: 13.5px;

  background: fade(@basic-green, 30%);
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}
