.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.products__slim,
.products__pro {
  position: relative;
  margin-bottom: 20px;

  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.products__slim {
  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;

    background-color: @basic-green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 92px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      top: 47px;
      right: auto;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 29px;
    width: 37px;
    height: 51px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 81px;
      right: 92px;
      left: auto;
      width: 140px;
      height: 192px;
    }

    @media (min-width: @desktop-width) {
      top: 41px;
      right: auto;
      left: 67px;
      width: 70px;
      height: 97px;
    }
  }
}

.products__pro {
  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;

    background-color: @basic-green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 92px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      top: 47px;
      right: auto;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 12px;
    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 135px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }

    @media (min-width: @desktop-width) {
      top: 67px;
      right: auto;
      left: 33px;
      width: 134px;
      height: 56px;
    }
  }
}

.products__subject {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 91px;

  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: @special-font;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 25px;
    padding-left: 53px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 73px;
    padding-left: 214px;
  }
}

.products__desc {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 23px;

  border-bottom: 1px solid @special-grey-3;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 17px;
  }

  br {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 53px;
    padding-right: 240px;
    padding-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-left: 53px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 0;
  }
}

.products__button {
  margin: 0;
  margin-right: 19px;
  margin-left: 19px;
  padding-bottom: 22px;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: @special-font;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-left: 53px;
    padding-bottom: 57px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.products__link {
  position: relative;
  padding-right: 57px;

  color: @basic-black;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 18px;
    width: 24px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");

    @media (min-width: @tablet-width) {
      top: 8px;
      right: 10px;
    }
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      right: 0;
      width: 32px;
      height: 12px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    color: fade(@basic-black, 30%);

    &::after {
      content: "";
      position: absolute;
      top: 6px;
      right: 0;
      width: 32px;
      height: 12px;

      background-image: url("../img/icon-right-arrow-verylong-opacity.svg");
    }
  }
}
