.product {
  outline: solid 3px blue;
}

.product__title {
  font-family: @oswald-text;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.product__title a {
  color: #444444;
}

.product__column {
  font-size: 12px;
  line-height: 16px;
}
