.product-other {
  outline: blue 3px solid;
}

.product-other__title {
  font-family: @special-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}
.product-other__column {
  font-size: 14px;
  line-height: 14px;
}
