.programm {
  outline: orange 3px solid;
}

.programm__text {
  font-family: @special-font;
  text-transform: uppercase;
  color: @basic-black;
}

.programm__legend {
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
}
