.promo {
  outline: orange 3px solid;

  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  margin-bottom: 20px;
  min-height: 480px;

  @media (min-width: @tablet-width) {
    min-height: 852px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
    min-height: 587px;
  }
}

.promo__title {
  margin: 0;

  font-family: @special-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: @basic-white;
}

.promo__slogan {
  margin: 0;

  font-family: @special-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-white;
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
}
