.site-list {
  outline: greenyellow 3px solid;
  padding: 0;
}

.site-list__item {
  list-style: none;

  font-family: @special-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: @basic-black;
}

.site-list__link {
  color: @basic-black;

  &--activ {
    color: rgba(0, 0, 0, 0.5);
  }
}
