.slider {
  outline: greenyellow 3px solid;
}

.slider__button {
  font-family: @special-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @basic-black;
  text-transform: uppercase;
}
