.social {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @special-grey-3;
    border-bottom: 1px solid @special-grey-3;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 75px;
  margin-left: 73px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;

  list-style: none;

  @media (min-width: @tablet-width) {
    width: 129px;
    margin: -4px auto 0 27px;
    padding: 0;
  }
}
