.social-button__icon {
  path {
    fill: @grey;
  }
}

.social-button__icon-vk {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-button__icon-ig {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-button__icon-fb {
  @media (min-width: @tablet-width) {
    width: 26px;
    height: 28px;
  }
}

.social-button__link {
  &:hover .social-button__icon {
    path {
      fill: @basic-green;
    }
  }

  &:active .social-button__icon {
    path {
      fill: fade(@basic-green, 30%);
    }
  }
}
