.social-button__link {
  fill: @grey;

  &:hover {
    fill: @basic-green;
  }

  &:active {
    fill: fade(@basic-green, 30%);
  }
}

.social-button__icon-vk {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-button__icon-ig {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-button__icon-fb {
  @media (min-width: @tablet-width) {
    width: 26px;
    height: 28px;
  }
}
