.story {
  outline: orange 3px solid;

  background-color: #eaeaea;
}

.story__title {
  font-family: @special-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: @basic-black;
}

.story__number {
  font-family: @special-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: @basic-black;
}

.story__desc {
  padding: 0;
  margin: 0;

  font-size: 12px;
  line-height: 12px;

}

.story__info {
  font-family: @special-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: @basic-black;
  text-transform: uppercase;
}
